{% extends "aplicativo/base.html" %}

{% block list_name %}{{ lista.name }}{% endblock %}

{% block list_desc %}{{ lista.desc }}{% endblock %}

{% block list_item %}
    {% if not items %}
        <div id="empty-list">Your list is empty, just chill out</div>
    {% else %}
        {% for item in items%}
        <label id='item-{{ item.id }}' class='list-item'>
            {% if item.status %}
                <input type='checkbox' checked>
            {% else %}
                <input type='checkbox'>
            {% endif %}
            <span>{{ item.texto }}</span>
            <button class='btn btn-icon btn-close'>X</button>
            <button class='btn btn-icon btn-edit'>E</button>
        </label>
        {% endfor %}
    {% endif %}
{% endblock %}